<p>Hello,</p>

<p>Your DOI has been successfully registered: <strong><a href="https://doi.datacite.org/dois/{{{urlencode doi}}}">{{doi}}</a></strong></p>

<p>Please use this DOI to create a record in PubDB.</p>

<p>Best regards,<br>
The Team</p>