<p>Hello,</p>

<p>Your DOI has been successfully registered: <strong><a href="{{exchangeString registerDoiUri "api" "doi"}}{{{urlencode doi}}}">{{doi}}</a></strong></p>

<p>Please proceed to DESY's publication database <a href="https://bib-pubdb1.desy.de/submit/direct?ln=en&sub=SBIdataset&hgf_import={{{urlencode doi}}}">PubDB.</a></p>

<p>Best regards,<br>
Your Service Team</p>